<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Story</title>
</head>
<body>
    <div class="container mt-4">
        <div class="container text-center col-6">
            <h2 class="text-center">To be continued!</h2>
            <img class="container d-flex justify-content-center" src="/static/img/j7K4gPTXMrNL19d2PGdWq4VZUYnslLJwQtaz-JfV7g8.webp" alt="Image of paper frogs">
        </div>
    </div>
</body>
</html>